
.fruit1{
  width:60%;
  height:50%;
}
.cart{
  display: flex;
  gap: 2%;
}
.cart button{
  height:40px ;
  width:160px ;
  background:#70a570;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: .4s ease;

}
.fruit2{
  width:60%;
  height:50%;
}
.fruit3{
  width:60%;
  height:50%;
}

.add1{

margin-left: 15%;
gap: 5%;

}

.items{

  text-decoration: solid;
  color: white;
  font: 1em sans-serif;
  border: solid;
  border-color:green;
  background-color:green;
  width: 40%;
  margin-top: 3%;
  margin-left: 30%;
  text-align: center;
  border: 12%;
}