.fruit1 {
  width: 60%;
  height: 50%;
}
.cart {
  display: flex;
  gap: 2%;
}
.cart button {
  height: 40px;
  width: 160px;
  background: #70A570;
  border: none;
  margin-bottom: 10px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.4s ease;
}
.fruit2 {
  width: 60%;
  height: 50%;
}
.fruit3 {
  width: 60%;
  height: 50%;
}
.add1 {
  margin-left: 15%;
  gap: 5%;
}
.items {
  text-decoration: solid;
  color: white;
  font: 1em sans-serif;
  border: solid;
  background-color:rgb(107, 148, 107) ;
  width: 40%;
  margin-top: 3%;
  margin-left: 30%;
  text-align: center;
  border: 12%;
}

@media (max-width: 768px) {
  .cart {
    flex-direction: column;
    align-items: center;
  }
  .cart button {
    margin-left: 0;
  }
  .add1 {
    margin-left: 0;
  }
  .items {
    width: 80%;
    margin-left: 10%;
  }
}

@media (min-width: 1200px) {
  .cart {
    justify-content: space-between;
  }
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: rgb(14, 73, 14);
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}




.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  height: calc(32vh - 50px);
  width: 100%;
  border-color: green;
}

.mobile-menu li {
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  ul a{
    color:white;
  }
ul{
border: solid;
background-color: green;
height: 8px;
}
  .body{
    background-color: #09c372;
  }
  .start{
    background-image: url(/images/stock-photo-fruit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .butn{
    margin-left: 40%;
  }
}







