.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(14, 73, 14);
    padding: 10px;
}
.navbar a {
    text-decoration: none;
    margin-right: 10px;
    color: white;
}
.navbar img.logo {
    height: 40px;
}
.navbar i {
    font-size: 20px;
}
.navbar button {
    padding: 5px 10px;
    background-color:white;
    color:rgb(14, 73, 14);
    border: none;
    cursor: pointer;
}

.service-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  
   }
  
   .service-box i{
       font-size: 3px;
       
   }
   .service-box{
       font-size: 1.rem;
   }
   .service-box p{
       font-size: 1rem;
       margin: 1rem 0 3rem;
   
   }
   .service-box img{
    width: 30%;
    height: 10hv;
   }
   .heading{
    text-align: center;
    margin-top: 5%;
   }
   .end{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(14, 73, 14);
    color: white; 
    margin-top: 20%;
    padding: 0%;
   
}

@media screen and (max-width: 768px) {
    .nav img {
        width: 100%;
    }

    .service-container {
        flex-direction: column;
    }

    .service-container .service-box {
        flex: 1 1 100%;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 480px) {
    .nav {
        grid-template-columns: repeat(5, 1fr);
    }

    .nav a {
        font-size: 14px;
    }

    .service-container {
        gap: 1rem;
    }

    .service-container .service-box {
        flex: 1 1 100%;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar img.logo {
        margin-bottom: 10px;
    }
    .navbar a, .navbar i {
        margin-right: 0;
        margin-bottom: 10px;
    }
   
    .navbar .dropdown-content {
        display: none;
        flex-direction: column;
        background-color: rgb(14, 73, 14);
        padding: 10px;
    }
    .navbar .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .navbar .dropdown-toggle .menu-icon {
        font-size: 20px;
    }
    .navbar .dropdown-toggle .close-icon {
        display: none;
        font-size: 20px;
    }
    .navbar .dropdown-toggle .menu-text {
        margin-right: 5px;
    }
    .navbar .dropdown-content a {
        margin-bottom: 5px;
    }
    
    .navbar .dropdown-toggle.active .menu-icon {
        display: none;
    }
    .navbar .dropdown-toggle.active .close-icon {
        display: block;
    }
    .navbar .dropdown-toggle.active ~ .dropdown-content {
        display: flex;
    }
    .end {
        padding-left: 2%;
        margin-top: 0;
        background-color: rgb(14, 73, 14);
        color: white;
    }
    
}

