

.services {
  padding: 40px;
  background-color: #f9f9f9;
  text-align: center;
}

.services .heading {
  margin-bottom: 30px;
}

.service-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.service-box {
  width: 300px;
}

.service-box img {
  max-width: 100%;
  height: auto;
}

/* Footer styles */
.end {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(14, 73, 14);;
  
  color: white;
  padding: 40px;
}

.bbi, .bb2, .bb3 {
  text-align: center;
}

.bbi h3, .bb2 h3, .bb3 h3 {
  font-size: 24px;
}

.bbi i, .bb2 p, .bb3 p {
  margin-bottom: 5px;
}

.bbi i, .bb2 i, .bb3 i {
  font-size: 20px;
  margin-right: 10px;
}

@media (max-width: 768px) {
 

  .services .service-container {
    flex-direction: column;
    align-items: center;
  }

  .service-box {
    width: 100%;
    margin-bottom: 30px;
  }

  .end {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: rgb(14, 73, 14);
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
  
}

ul li {
  padding: 5px;
  margin-left: 10px;
  margin-bottom: 3%;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}


#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}


.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 30px;
  left: 0;
  height: calc(32vh - 50px);
  width: 100%;
  border-color: green;
}

.mobile-menu li {
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  ul a{
    color:white;
  }
ul{
border: solid;
background-color: green;
height: 8px;
}
  .body{
    background-color: #09c372;
  }
  .start{
    background-image: url(/images/stock-photo-fruit.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .butn{
    margin-left: 40%;
  }
}

