*{
    padding: 0%;
    margin: 0%;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
}
#menuBtn{
    width: 50px;
    height: 50px;
    background-color: #009688;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menuBtn img{
    width: 20px;
    margin-top: 15px;
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 73, 14);
    padding: 10px;
}
.navbar a {
    text-decoration: none;
    margin-right: 10px;
    color:white;
}
.navbar img.logo {
    height: 40px;
}
.navbar i {
    font-size: 20px;
}
.navbar button {
    padding: 5px 10px;
    background-color:white;
    color:green;
    border: none;
    cursor: pointer;
}

.head{
    /* padding-left: 47%; */
    text-align: center;
    
}
.grapes img{
height: 200px;
width: 200px;
}
.rapple img{
    height: 150px;
    width: 200px;
}
.gapple img{
    height: 150px;
    width: 200px;
}
.banan img{
    height: 200px;
    width: 200px;
}
.brocco img{
    height: 200px;
    width: 200px;
}
.cabbage img{
    height: 200px;
    width: 200px;
}
.cucum img{
    height: 200px;
    width: 200px;
}
.eggp img{
    height: 200px;
    width: 200px;
}
.green img{
    height: 200px;
    width: 200px;
}
.kales img{
    height: 200px;
    width: 200px;
}
.mango img{
    height: 200px;
    width: 200px;
}
.onion img{
    height: 200px;
    width: 200px;
}
.orange img{
    height: 200px;
    width: 200px;
}
.pine img{
    height: 220px;
    width: 180px;
}
.potat img{
    height: 200px;
width: 200px;
}
.strawb img{
    height: 200px;
    width: 200px;
}
.tomato img{
    height: 200px;
    width: 200px;
}
.imag1{
display: flex;
column-gap: 7%;
padding-top: 10px;
padding-left: 5%;

}
.imag2{
    display: flex;
    column-gap: 7%;
    padding-top: 10px;
    padding-left: 5%;
        }
.imag3{
    display: flex;
    column-gap: 7%;
    padding-top: 10px;
    padding-left: 5%;
}
.imag4{
    display: flex;
    column-gap: 7%;
    padding-top: 10px;
    padding-left: 5%;
}

.icon{
    display: flex;
   padding-left: 30%;
}


.grapes{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(230, 221, 221);
    text-align: center;
    padding: 30px 20px;

}
.rapple{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.gapple{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.banan{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.brocco{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.cabbage{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.cucum{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.eggp{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.green{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.kales{
display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.mango{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;

}

h1{
    text-align: center;
}
.onion{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.orange{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.pine{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.potat{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.strawb{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.tomato{
    display: grid;
    grid-template-columns: auto-fit,minmax(270px,1fr);
    /* gap:15px; */
    box-shadow: 0px;
    border-radius: 5px;
    background-color: rgb(238, 229, 229);
    text-align: center;
    padding: 30px 20px;
}
.button{
    height:40px ;
    width:160px ;
    background:#70a570;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: .4s ease;
}
.button a{
    text-decoration: none;
    color: #000;
    transition:  .3s ease;
}
.button:hover{
    background-color: #7ddb31;
}
.end{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:2%;
    margin-top: 3%;    
    background-color: rgb(14, 73, 14);
    color: white;  

}

@media (max-width: 768px) {
    .imag1,
    .imag2,
    .imag3,
    .imag4 {
        display: flex;
        flex-direction: column;
        padding-left: 0;
    }

    .icon {
        justify-content: center;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar button {
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px;
    }

    .navbar img.logo {
        height: 30px;
    }

    .navbar i {
        font-size: 16px;
    }

    .navbar button {
        padding: 3px 8px;
        font-size: 14px;
    }

    .end {
        grid-template-columns: repeat(1, 1fr);
        font-size: 14px;
        padding: 1%;
    }

    .button {
        height: 30px;
        width: 120px;
        font-size: 14px;
    }
}