

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    border-radius: solid green;
    margin-top: 20px;
}
.container img{
    width: 60%;
    height: 30vh;
}
.rev{
    color: green;
    text-align: center;
    text-decoration: solid;
    margin-top: 10%;
}