*{
    padding: 0%;
    margin: 0%;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(14, 73, 14);
    padding: 10px;
    color: white;
}
.navbar a {
    text-decoration: none;
    margin-right: 10px;
    color:white;
}
.navbar img.logo {
    height: 40px;
}
.navbar i {
    font-size: 20px;
}
.navbar button {
    padding: 5px 10px;
    background-color:greenyellow;
    color: #fff;
    border: none;
    cursor: pointer;
}
/* Media queries for responsive design */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar img.logo {
        margin-bottom: 10px;
    }
    .navbar a, .navbar i {
        margin-right: 0;
        margin-bottom: 10px;
    }
    /* Dropdown menu styles */
    .navbar .dropdown-content {
        display: none;
        flex-direction: column;
        background-color: #F2F2F2;
        padding: 10px;
    }
    .navbar .dropdown-toggle {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }
    .navbar .dropdown-toggle .menu-icon {
        font-size: 20px;
    }
    .navbar .dropdown-toggle .close-icon {
        display: none;
        font-size: 20px;
    }
    .navbar .dropdown-toggle .menu-text {
        margin-right: 5px;
    }
    .navbar .dropdown-content a {
        margin-bottom: 5px;
    }
    /* Show/hide dropdown menu on click */
    .navbar .dropdown-toggle.active .menu-icon {
        display: none;
    }
    .navbar .dropdown-toggle.active .close-icon {
        display: block;
    }
    .navbar .dropdown-toggle.active ~ .dropdown-content {
        display: flex;
    }
}
.start{
    background:url(images/Heart-of-Vegetables-removebg-preview.png);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* text-align: center; */
    font: 1em sans-serif;
    text-decoration: solid;
    color: rgb(20, 20, 20);
}

.welcom{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.welcom img{
    width: 80%;
    height: 40%;
}
.butn{
    
    margin-left: 40%;
    width: 200px;
    height: 50px;
    background: rgb(58, 122, 58);
    border: none;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition:  .4s ease;
    margin-top: 8%;
}
.butn:hovev{
color: #fff;
color: rgb(58, 122, 58);
}
.butn a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
   ;
}
.words{
    margin-left: 30%;
    padding-top: 15%;
    font-size: 30px;
   
    
}

@media (max-width: 767px) {
    .nav {
        grid-template-columns: repeat(2, 1fr);
    }

    .nav img {
        width: 100%;
    }

    .nav a {
        font-size: 16px;
    }

    .nav button {
        width: 100%;
    }

    .welcom {
        grid-template-columns: 1fr;
    }

    .welcom img {
        width: 100%;
        height: auto;
    }

    .butn {
        margin: 0 auto;
    }

    .words {
        padding: 10%;
        text-align: center;
    }
}












    


    
    
